@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

thead tr th:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
thead tr th:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
tbody tr td:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 0;}
tbody tr td:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 0;}

.sun-editor-editable {
    font-size: 16px;
}
